<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RootDirectory" value="D:\BingImages\"/>
    <add key="InfoDirectory" value="D:\BingImages\Info"/>
    <add key="StatusFilePath" value="D:\BingImages\Info\Status.xml"/>
    <add key="FailedDownloadsFilePath" value="D:\BingImages\Info\FailedDownloads.xml"/>
    <add key="LogsFolderPath" value="D:\BingImagesDownloader\Logs\"/>

    <add key="BingImagesArchiveURL" value="http://www.bing.com/HPImageArchive.aspx?format=xml&amp;idx={0}&amp;n={1}&amp;mkt={2}"/>
    <!--If this value of 'DownloadImagesFromLastDownloadDate' is 0, then it gets only current day's data-->
    <add key="DownloadImagesFromLastDownloadDate" value="1"/>
    <add key="MaxImagesToDownload" value="100"/>
    <add key="BingMarkets" value="en-US,zh-CN,ja-JP,en-AU,en-UK,de-DE,en-NZ,en-CA"/>   <!--en-US,zh-CN,ja-JP,en-AU,en-UK,de-DE,en-NZ,en-CA-->
    <add key="BingDomain" value="http://www.bing.com/"/>

    <!--If you need to download images from, say, last 30 days.
    Then set the value of 'DownloadByDemand' to 1. Then, set the value of 'NumberOfPreviousDays' to 30 and run the app manually.
    ONCE DONE, REVERT THE VALUE OF 'DownloadByDemand' TO 0-->
    <add key="DownloadByDemand" value="0"/>
    <add key="NumberOfPreviousDays" value="0"/>
    <add key="DownloadAttemptsForEachImage" value="2"/>
    <add key="RetryForFailedDownloads" value="1"/>
  </appSettings>
</configuration>